html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #333;
  background-color: #fff;
}
